/* @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  } */
  

  
  /* .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 2;
  }
   */
  /* .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  } */
  
  /* .logos:hover .logos-slide {
    animation-play-state: paused;
  } */
  
  /* .logos-slide {
    align-items: center;
    animation: 7s slide infinite linear;
  } */
  
  /* .logos-slide img {
    height: 25px;
    margin: 0 40px;
  }

  #infosys-logo{
    height: 100px;
  }
  #baxter{
    height: 60px;
  }
  #Benz{
    height: 60px;
  }

  #l-and-t-technology-services-logo{
    height: 50px;
  }
  #LandTInfo{
    height: 50%;
  }

  @media (max-width: 576px){
    .logos-slide {
        align-items: center;
        animation: 5s slide infinite linear;
      }
  }



 */








/* @keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}


.logos {
    overflow: hidden;
    padding: 80px 0;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos-slide img {
    height: 200px;
    margin: 0 30px;
}


.logos-slide {
    display: inline-block;
    white-space: nowrap; 
}
.logos-slide {
    animation: 20s slide infinite linear;
} */



/* .logos:hover .logos-slide {
    animation-play-state: paused;
} */

/* .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
} */

/*

.logos {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height:auto;
    margin: 0px;
    width: auto;
  }
    .logo img {
    height: 50px;
    margin: 0 25px;
  }
.logos .logo{
    margin: 7.5px;
    width: auto;
    padding: 15px;
    height:60px ;
}

@media (max-width: 576px){
    .logos {
        grid-template-columns: auto auto auto ;
      }
      .logos .logo{
        width: auto;
        padding: 15px;
        height:25px ;
    }
} */
  /* #baxter{
    height: 60px;
  } */





  


  /* Slider */
.slick-slide {
    margin: 0px 25px;
  }
  
  .customer-logos {
    overflow: inherit;
    /* border-top: 1px solid #353535;
    border-bottom: 1px solid #353535; */
  }
  
  .slick-slide img {
    width: 100%;
  }
  
  .slick-track::before,
  .slick-track::after {
    display: table;
    content: '';
  }
  
  .slick-track::after {
    clear: both;
  }
  
  .slick-track {
    padding: 1rem 0;
  }
  
  .slick-loading .slick-track {
    visibility: hidden;
  }
  
  .slick-slide.slick-loading img {
    display: none;
  }
  
  .slick-slide.dragging img {
    pointer-events: none;
  }
  
  .slick-loading .slick-slide {
    visibility: hidden;
  }
  
  .slick-arrow {
    position: absolute;
    top: 50%;
    background: url(https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/arrow.svg?sanitize=true) center no-repeat;
    color: #fff;
    filter: invert(77%) sepia(32%) saturate(1%) hue-rotate(344deg) brightness(105%) contrast(103%);
    border: none;
    width: 2rem;
    height: 1.5rem;
    text-indent: -10000px;
    margin-top: -16px;
    z-index: 99;
  }
  
  .slick-arrow.slick-next {
    right: -40px;
    transform: rotate(180deg);
  }
  
  .slick-arrow.slick-prev {
    left: -40px;
  }
  

  
  @media (max-width: 768px) {
    .slick-arrow {
      width: 1rem;
      height: 1rem;
    }
  }
  
  
    
  /* .row-logo {
    overflow: hidden;
  }   */
  

  .logos {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.logo {
    flex: 0 0 auto;
    padding: 15px;
    height: 60px;
}

.logo img {
    height: 100%;
    margin: 0 25px;
}

@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.logos img {
    animation: moveLeft 5s linear infinite;
}

@media (max-width: 576px) {
    .logos {
        flex-wrap: nowrap;
    }
    .logo img {
        height: 25px;
    }
}


@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px*7));
  }
}

.slider{
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
  align-items: center;
}

.slider .slide-track{
  animation: scroll 20s linear infinite;
  display: flex;
  align-items: center;
  width: calc(250px*6);
}

.slider .slideLogo{
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  height: 100px;
  width: auto;
  align-items: center;
}

.slider .slideLogo img{
 height: auto;
 width: 150px;
}
#infosys-logo{
  width: 175px;
}
#baxter{
  height: 100px;
}
#Benz{
  width: 95px;;
}

#siemens-ag-logo{
  width: 200px;
}

#Tektronix{
  height: 50px;
  width: 450x;
}

#l-and-t-technology-services-logo{
  width: 400px;
  height:50px;
}
#LandTInfo{
  width: 300px;
}